<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CaPos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Filtro -->
  <!-- <ion-item>
    <ion-input label="Id: " type="number" [(ngModel)]="id" name="id"></ion-input>
    <ion-button [disabled]="!id" (click)="getPokemon()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-item> -->
  <p align="center"><br><img src="/assets/img/logo.png" width="200" height="60" /></p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <ion-label position="floating">Name</ion-label> -->
        <ion-input 
          label="Password" 
          label-placement="floating" 
          [(ngModel)]="password" 
          type="password" 
          placeholder="Enter password"
          fill="solid"
          [clearInput]="true"
          readonly="true"
        ></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(1)">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(2)">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(3)">3</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(4)">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(5)">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(9)">6</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(7)">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(8)">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(9)">9</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="back()">Back</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="add(0)">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="logIn()">Log In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="pokemon">
    <!-- Sprite -->
    <ion-img [src]="pokemon.sprites.front_default"></ion-img>

    <!-- Nombre -->
    <ion-card-header class="ion-text-center">
      <ion-card-title class="ion-text-capitalize">{{pokemon.name}}</ion-card-title>
    </ion-card-header>

    

    <ion-card-content>

      <ion-grid>
        <!-- Tipo -->
        <ion-row>
          <ion-col class="ion-text-center">Tipo</ion-col>
          <ion-col>
            <ion-img class="ion-padding-start ion-padding-end"
              [src]="'assets/img/' + pokemon.types[0].type.name + '.gif'"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img class="ion-padding-start ion-padding-end" *ngIf="pokemon.types[1]"
              [src]="'assets/img/' + pokemon.types[1].type.name + '.gif'"></ion-img>
          </ion-col>
        </ion-row>
        <!-- Peso -->
        <ion-row class="ion-text-center">
          <ion-col size="4">Peso</ion-col>
          <ion-col size="8">{{pokemon.weight / 10}} kg</ion-col>
        </ion-row>
        <!-- Altura -->
        <ion-row class="ion-text-center">
          <ion-col size="4">Altura</ion-col>
          <ion-col size="8">{{pokemon.height / 10}} m</ion-col>
        </ion-row>
      </ion-grid>
      <!-- Users List -->
      <ion-list *ngIf="userList.length > 0">
        <ion-item *ngFor="let user of userList">
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>ID: {{ user.id }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

</ion-content>